.container {
    padding-top: 1rem;
}

.ngx-spinner-overlay {
    z-index: 9999 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  