<div class="card rounded shadow-sm p-2">

<form [formGroup]="form" (ngSubmit)="salvarEvento()" class="p-3">
    <div class="p-3">
      <!-- TEMA -->
      <div class="row pb-3">
        <div class="form-group col-md-12">
          <label for="tema">Tema</label>
          <input id="tema" type="text" class="form-control" formControlName="tema"
            [ngClass]="cssValidator(formEvento['tema'])" placeholder="Insira o Tema" />
          <div class="invalid-feedback" *ngIf="formEvento['tema'].errors?.['required']">
            O campo Tema é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="formEvento['tema'].errors?.['minlength']">
            O tema deve ter pelo menos 10 caracteres
          </div>
        </div>
      </div>

      <!-- LOCAL e DATA -->
      <div class="row pb-3">
        <div class="form-group col-md-8">
          <label for="local">Local</label>
          <input id="local" type="text" class="form-control" formControlName="local"
            [ngClass]="cssValidator(formEvento['local'])" placeholder="Insira o Local" />
          <div class="invalid-feedback" *ngIf="formEvento['local'].errors?.['required']">
            O campo Local é obrigatório
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="dataEvento">Data do Evento</label>
          <input id="dataEvento" class="form-control" bsDatepicker formControlName="dataEvento"
            [bsConfig]="bsConfig" [ngClass]="cssValidator(formEvento['dataEvento'])" placeholder="Insira a Data" />
          <div class="invalid-feedback" *ngIf="formEvento['dataEvento'].errors?.['required']">
            O campo Data do Evento é obrigatório
          </div>
        </div>
      </div>

      <!-- QUANTIDADE + TELEFONE + EMAIL -->
      <div class="row pb-3">
        <div class="form-group col-md-2">
          <label for="quantidadeDePessoas">Qtd Pessoas</label>
          <input id="quantidadeDePessoas" type="number" class="form-control" formControlName="quantidadeDePessoas"
            [ngClass]="cssValidator(formEvento['quantidadeDePessoas'])" placeholder="Quantidade" />
          <div class="invalid-feedback" *ngIf="formEvento['quantidadeDePessoas'].errors?.['required']">
            Este campo é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="formEvento['quantidadeDePessoas'].errors?.['min']">
            Deve conter no mínimo 30 pessoas
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="telefone">Telefone</label>
          <input id="telefone" type="text" class="form-control" formControlName="telefone"
            [ngClass]="cssValidator(formEvento['telefone'])" placeholder="(00) 90000-0000" />
          <div class="invalid-feedback" *ngIf="formEvento['telefone'].errors?.['required']">
            O campo Telefone é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="formEvento['telefone'].errors?.['pattern']">
            Deve ter 10 a 11 dígitos numéricos
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="email">E-mail</label>
          <input id="email" type="email" class="form-control" formControlName="email"
            [ngClass]="cssValidator(formEvento['email'])" placeholder="Insira o E-mail" />
          <div class="invalid-feedback" *ngIf="formEvento['email'].errors?.['required']">
            O e-mail é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="formEvento['email'].errors?.['email']">
            Insira um e-mail válido
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="imagemUrl">Imagem</label>
          <input id="imagemUrl" type="text" class="form-control" formControlName="imagemUrl"
            [ngClass]="cssValidator(formEvento['imagemUrl'])" placeholder="URL da imagem" />
          <div class="invalid-feedback" *ngIf="formEvento['imagemUrl'].errors?.['required']">
            O campo Imagem é obrigatório
          </div>
        </div>
      </div>

    </div>

    <!-- Botões -->
    <div class="card-footer d-flex justify-content-end mt-3 p-3">
      <button type="button" class="btn btn-outline-warning me-2" (click)="resetForm()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-success" [disabled]="form.invalid">
        Salvar Alteração
      </button>
    </div>

  </form>
</div>
