@use 'bootstrap/scss/bootstrap' as *;
@use 'bootswatch/dist/vapor/variables' as minty-variables;
@use 'bootswatch/dist/vapor/bootstrap' as minty-bootstrap;
@use 'ngx-toastr/toastr';
@use 'ngx-spinner/animations/ball-scale-multiple';
@use 'ngx-spinner/animations/ball-clip-rotate';
@import 'ngx-bootstrap/datepicker/bs-datepicker.css';

* {
    font-family: Roboto;
}

html, body {
    overflow: auto;
    height: 100%;
}

.rounded {
    border-radius: 8px !important;
}
  
.rounded-lg {
    border-radius: 8px !important;
}
  